.Header {
    text-align: center;
    display: flex;
    border-width: 1;
    border-style: solid;
    width: 100%;
    margin-bottom: 30px;
    flex: 0 0 auto;
    position: relative;
    background-color: rgb(74, 164, 216);
}

.HeaderContainer {

}

.Imagen {

}

.TitleText {

}


